
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    Options -Indexes

    
    RewriteRule ^(.*)$ index.php?router=$1 [L,QSA]
</IfModule>

